* {
    font-size: 20px;
    box-sizing: border-box;
}

body {
    background-color: teal;
}

h1 {
    text-align: center;
    font-size: 1.1em;
}

div.description {
    width: 70%;
    padding: 20px;
    margin: 50px auto;
    text-align: justify;
    line-height: 25px;
    background-color: aqua;
    border-radius: 10px;
}

span.desc {
    text-decoration: underline;
}

select {
    font-size: 0.8em;
}

select option {
    font-size: 0.8em;
}

table.memory {
    border-collapse: collapse;
    border: 2px solid black;
}

table.memory td {
    width: 50px;
    height: 50px;
    padding: 5px;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}

.closed {
    border: 1px solid gray;
    background-color: #AAAAAA;
}

.opened {
    border: 1px solid gray;
    background-color: aqua;
    color: black;
}

.ready {
    border: 1px solid gray;
    background-color: yellowgreen;
    color: whitesmoke;
}

div.flex-cont {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

div.flex-cont div {
    margin: 20px 30px;
}

div.display {
    background-color: aqua;
    border-radius: 10px;
    padding: 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li {
    margin: 0 0 15px 0;
    padding: 0;
}

div.result {
    display: none;
    width: 70%;
    margin: 25px auto;
    padding: 20px;
    background-color: yellowgreen;
    border-radius: 10px;
}

button {
    margin: 20px 0;
    padding: 10px 20px;
    color: black;
    background-color: orangered;
    border: none;
    border-radius: 10px;
}

button:hover {
    border: 2px solid white;
}